@use "../../scss/global";

.cart__cont {
  z-index: 99;
  position: absolute;
  background-color: global.$white;
  top: 85px;
  right: 20px;
  width: 450px;
  min-height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.15));

  @media (max-width: global.$width-mobile) {
    top: 70px;
    right: 5px;
    width: calc(100% - 10px);
  }

  & h3 {
    font-size: 1.1rem;
    border-bottom: 1px solid global.$grayish-blue;
    width: 100%;
    padding: 20px 0 30px 20px;
  }

  & > p {
    margin-top: 50px;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    width: calc(100% - 40px);
    max-height: fit-content;

    @media (max-width: global.$width-mobile) {
      width: calc(100% - 20px);
    }

    & li {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: global.$width-mobile) {
        gap: 15px;
      }

      & > img {
        flex-grow: 0;
        border-radius: 10px;
        height: 100px;

        @media (max-width: global.$width-mobile) {
          height: 80px;
        }
      }

      & div {
        color: global.$dark-grayish-blue;
        flex-grow: 1;

        & .product__title {
          display: block;
          margin-bottom: 10px;
          font-size: 1.1rem;
          font-weight: 700;
        }

        & div {
          display: flex;
          gap: 10px;

          & span:last-child {
            font-weight: 700;
          }
        }
      }

      & button {
        background-color: transparent;
        border: none;
        flex-grow: 0;
        flex-shrink: 0;

        &:hover {
          cursor: pointer;
        }

        & img {
          height: 25px;
          width: 21px;
        }
      }
    }
  }

  & > button {
    width: calc(100% - 40px);
    height: 50px;
    border: none;
    background-color: global.$orange;
    color: global.$black;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: opacity 300ms ease;

    @media (max-width: global.$width-mobile) {
      width: calc(100% - 20px);
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
