@use "../../scss/global";

.background {
  height: max(100dvh, 100%);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;

  & .gallery {
    margin-top: 20px;
    max-width: 550px;
    min-width: 0;

    & .cont__product__img {
      position: relative;

      & .product__img {
        object-fit: cover;
        width: calc(100% - 40px * 2);
        border-radius: 20px;
        margin: 40px;
      }

      & button {
        position: absolute;
        height: 45px;
        width: 45px;
        border-radius: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }

      & .btn__arrow {
        top: 50%;

        &:hover svg path {
          stroke: global.$orange;
        }
      }

      & .btn__prev {
        left: 20px;
        padding-right: 5px;
      }

      & .btn__next {
        right: 20px;
        padding-left: 5px;
      }

      & .btn__exit {
        background-color: transparent;
        top: -40px;
        right: 20px;

        & svg path {
          fill: global.$white;
        }

        &:hover svg path {
          fill: global.$orange;
        }
      }
    }

    & .thumbnails {
      margin: 40px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: calc(100% - 40px * 2);

      & img {
        border-radius: 10px;
        min-width: 0;
        max-width: 100%;
        height: auto;
        transition: outline 100ms ease;

        &:hover,
        :focus {
          cursor: pointer;
          filter: grayscale(0.5);
        }
      }

      & .img__active {
        filter: grayscale(0.3);
        outline: global.$orange solid 2px;
        outline-offset: 2px;
      }
    }
  }
}
