@use "../../scss/global";

.container {
  & h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: global.$grayish-blue;
  }

  & h1 {
    margin: 15px 0 30px;
    font-size: 2.5rem;
    font-weight: 700;
  }

  & p {
    max-width: 60ch;
    margin: 20px 0;
    color: global.$very-dark-blue;
  }

  & .price_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    & div {
      display: flex;
      align-items: center;
    }

    & .price {
      font-size: 2rem;
      font-weight: 700;
      margin-right: 15px;
    }

    & .discount {
      background-color: global.$black;
      color: global.$white;
      padding: 3px 8px;
      border-radius: 5px;
    }

    & .total {
      color: global.$grayish-blue;
      text-decoration: line-through;
      display: inline-block;
      font-weight: 700;
      right: 0;
    }
  }
}
