@use "../../scss/global";

.cont__gallery {
  position: relative;

  @media (min-width: 600px) {
    max-width: 500px;
  }

  & .product__img {
    object-fit: cover;

    &:hover {
      cursor: pointer;
    }

    @media (min-width: 600px) {
      width: calc(100% - 20px * 2);
      border-radius: 20px;
      margin: 20px;
    }
  }

  & button {
    position: absolute;
    top: 50%;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    @media (min-width: 600px) {
      display: none;
    }
  }

  & .btn__prev {
    left: 15px;
  }

  & .btn__next {
    right: 15px;
  }

  & .thumbnails {
    display: none;

    @media (min-width: 600px) {
      margin: 20px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: calc(100% - 20px * 2);
    }

    & img {
      border-radius: 10px;
      min-width: 0;
      max-width: 100%;
      height: auto;

      &:hover,
      :focus {
        opacity: 0.7;
        outline: global.$orange solid 2px;
        outline-offset: 3px;
      }
    }
  }
}
