@use "../../scss/global";

.cont__product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: global.$width-mobile) {
    flex-direction: row;
  }
}
