@use "../../scss/global";

.description_cont {
  padding: global.$gutter;
  max-width: 550px;

  & .controls_cont {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 600px) {
      flex-direction: row;
      gap: 10px;
    }
  }
}
