@use "scss/global";
@use "scss/boilerplate";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif;
  color: global.$black;
  background-color: global.$white;
}

h1 {
  @include global.font(3rem, 700, normal, normal);
}

h2 {
  @include global.font(2.4rem, 600, normal, normal);
}

h3 {
  @include global.font(2rem, 600, normal, normal);
}

p {
  @include global.font(1rem, 400, 1.5, normal);
}
